@model IEnumerable<lab_68_mvc_website_2.Models.Principle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrincipleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrategyPlan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technical)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrincipleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrategyPlan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technical.TechnicalID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrincipleID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrincipleID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrincipleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
