@model IEnumerable<lab_65_Football_API.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agent.AgentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.OwnerID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlayerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlayerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlayerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
