@model lab_68_mvc_website_2.Models.Technical

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Technical</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AeroRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AeroRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineSupplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineSupplier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChassisRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChassisRating)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TechnicalID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
