@model lab_68_mvc_website_2.Models.Technical

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Technical</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AeroRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AeroRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineSupplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineSupplier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChassisRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChassisRating)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TechnicalID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
