@model lab_65_Football_API.Models.HeadStaff

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HeadStaff</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.OwnerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scout.ScoutID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HeadStaffID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
