@model IEnumerable<lab_65_Football_API.Models.HeadStaff>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scout)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.OwnerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scout.ScoutID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HeadStaffID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HeadStaffID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HeadStaffID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
